<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

        body{
        background-color: #f1eaea;
        font-family: "Tilt Neon", "Roboto", sans-serif;
        text-align: center;
        }

        #form-box{
            display: flex;
            justify-content: center;

        }

        button{
            margin: 10px;
            border-style: solid;
            border-width: 1px;
            padding: 10px;
            border-radius: 5px;
        }

        
    </style>
</head>
<body>
  {{#each consultas}}
        <li>
            <strong>Paciente:</strong> {{this.paciente}}<br>
            <strong>Data:</strong> {{this.data}}<br>
            <strong>Hora:</strong> {{this.hora}}<br>
        </li>
        {{/each}}
    </ul>
</body>
</html>